<div class="text">
    <div data-cmp-data-layer="{}" id="text-6d91c6d9a4" class="cmp-text">
        <p><b>Bold </b>can be used to emphasize a word or phrase, as can <u>underline</u> and <i>italics.&nbsp;</i><sup>Superscript</sup> and <sub>subscript</sub> are useful for mathematical (E = mc<sup>2</sup>) or scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:</p>
        <blockquote>"<i>Be yourself; everyone else is already taken"</i></blockquote>
        <blockquote>- Oscar Wilde</blockquote>
    </div>
</div>